/*Body y footer */
.bodyindex{
    background:#7EDFE0;
    margin: 0px;
}
.bodyfilms{
    background:white;
    margin: 0px;
}
.footer{
    background-color: #5B5B5B;
    display: grid;
    justify-content: center;
    height: 10%;
    align-content: center;
}
.copyright{
    color: white;
}

/*Menus*/

.inicio{
    display: flex;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2px;
    align-items: center;
}

.menufilms{
    background-color: #FD9b79;
    display: grid;
    justify-content: left;
    padding-left: 3em;
    height: 5%;
    align-content: center;
}

.menufilm{
    background-color: #FD9b79;
    display: flex;
    justify-content: left;
    padding-left: 3em;
    height: 5%;
    align-content: center;
}
.film__menu-barra{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 4px;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.film__enlace--button{
    display:flex;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: larger;
    font-weight: bold;
    border: 0px;
    background: transparent;
    margin-top: 9px;
 }

/*página index.html*/

.index__container{
    background-image:url('/static/css/images/fondo.jpg');
    background-size: cover;
    background-position-y: bottom;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 90%;
    justify-items: left;
    align-items: center;
    max-width: 1920;
    max-height: 1080;
    margin: auto;
}

.index__subcontainer{
    padding-left: 100px;
}

.index__input{
    padding-left: 10px;
    height: 40px;
    width: 410px;
    border-radius: 10px;
    border: 1px solid #f5dfbd;
    font-family: Montserrat;
}

.index__button{
    font-family: Montserrat;
    font-weight: 900;
    color:white;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 150;
    opacity: 1;
    background-color: #FD9b79;
    border: 1px solid #f5dfbd;

}

.error_busqueda{
    color: red;
    padding-left: 100px;
}

/*página films.html*/

.films__maincontainer {
    display: grid;
    grid-gap: 1rem;
    min-height: 100vh;
    grid-template-columns: repeat(5, 2fr); 
    margin: 1em;
}

.films__searchresult{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: self-start;
    border-radius: 15px;
}

.films__postercontainer img{
    width: 100%;
  }
  @supports(object-fit: cover){
    .films__postercontainer img{
      object-fit: cover;
      object-position: center center;
    }
}
.films__postercontainer{
    display:flex;
    padding:1rem;
    height:370px;
    width: 260px;

}

.film__poster--div img{
    width: 100%;
  }
  @supports(object-fit: cover){
    .film__poster--div img{
      object-fit: cover;
      object-position: center center;
    }
}

.films__information{
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    color: #484646;
    font-family: Montserrat;
    height: 80px;
    
}

.films__title{
    display: flex;
    margin-top: 0;
    font-weight: bolder;
    height: 40px;
    align-items: center;
}

.films__year{
    margin-top: 0;
    margin-bottom: 5px;
}

.films__div--buttons{
    display: flex;
    justify-content: center;

}

/*animación boton detalle*/

.films__detailbutton {
    margin: auto;
    padding: 19px 22px;
    border: 0px;
    font-family: Montserrat;
    transition: all .2s ease;
    position: relative;
    font-size: 10px;
    line-height: 18px;
    font-weight: bolder;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 10px;
}

.films__detailbutton:before {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(253, 155, 121, 0.5);
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}

.films__detailbutton .films__detailbutton-span {
    position: relative;
    font-size: 10px;
    line-height: 32px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.films__detailbutton .films__detailbutton-svg {
    position: relative;
    top: 0;
    margin-left: 8px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.films__detailbutton:hover:before {
    width: 100%;
    background: #fd9b79;
}

.films__detailbutton:hover .films__detailbutton-svg {
    transform: translateX(0);
}

.films__detailbutton:active {
    transform: scale(0.96);
}

/*botones anterior y siguiente con hover*/

.films__button--nextpreview:hover {
    background-color: #423789;
    }

.films__button--nextpreview{
    font-family: Montserrat;
    font-weight: 900;
    color:white;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 150;
    opacity: 1;
    background-color: #7EDFE0;
    border: 1px solid #423789;
    margin: 10px;
}

/*página film.html*/

.film__container{
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;
    background-color: grey;
}


.film__information{
    background-color: transparent;
    display: grid;
    padding: 1rem;
    width: 95%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.film__information--Title{
    font-weight: bolder;
    font-size: 25px;
    align-self: center;
    text-align: left;
}
.film__information--Year{
    align-self: center;
    text-align: right;
    padding-right: 2rem;
    font-size:25px;
}
.film__information--Genre{
    align-self: center;
}
.film__information--Plot{
    align-self: center;
}
.film__information--Director{
    align-self: center;
}
.film__information--Writer{
    align-self: center;
}
.film__information--Actors{
    align-self: center;
}
