<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    

</head>
<body {% block clasebody %}{% endblock%}>  <!--<p>la clase del body cambia en función de la página</p>-->
    {% block menu %}{% endblock%}
    <div>
        {% block body %}{% endblock%}
    </div>
</body>
<footer class="footer">
    <p class ="copyright"> &copy; 2019 - Sonia Sieiro </p>
</footer>
</html>