{% extends 'base.html' %}
{% block title %} Resultado búsqueda {% endblock %}
{% block menu %}
<p class="menu">
        <a href="./">Inicio</a>
</p>
{% endblock %}
{% block body %} 
<form action="/film" method="GET">
<div class="films__maincontainer">
<!--<p>genera un div por cada resultado de movies(normalmente 10 excepto en la última página)</p>-->
        {% for i in range (numResultados) %}
        <div class="films__searchresult">

                <img class="films__posterfilm" src="{{movies['Search'][i]['Poster']}}">
                <p class="films__filmtittle">{{movies['Search'][i]['Title']}}</p>
                <p>{{movies['Search'][i]['Year']}}</p>
                <input type="hidden" name="{{ loop.index }}" value="{{movies['Search'][i]['imdbID']}}">
                <input class="films_selector" type="radio" name="ix" value="{{ loop.index }}">
        </div>
        {% endfor %}
        <input type="hidden" name="busquedaAnterior" value="{{busqueda}}">
</div>
<!--<p>si sale por aquí va al detalle</p>-->
<button name="Detalle" value="Detalle" type="submit" class="films_detailbutton">Ir a detalle</button>
</form>
<!--<p>si sale por aquí va a la siguiente página o a la anterior</p>-->
<form action="/films" method="GET">
        <input type="hidden" name="busqueda" value="{{busqueda}}">
        {% if pagActual > 1 %}
        <button name="paginaAnterior" value="{{pagActual}}" type="submit" class="films__button--nextpreview">páginaAnterior</button>
        {% endif %}
        {% if pagActual < numPags %}
        <button name="paginaSiguiente" value="{{pagActual}}" type="submit" class="films__button--nextpreview">páginaSiguiente</button>
        {% endif %}
</form>
{% endblock %}
