{% extends 'base.html' %}
{% block title %}Resultados{% endblock %}
{% block clasebody %} class="bodyfilms" {% endblock%}
{% block menu %}
<div class="menufilms">
        <a class = "inicio" href="./">Inicio</a>
</div>
{% endblock %}
{% block body %} 
<form action="/film" method="GET">
<div class="films__maincontainer">
<!--<p>genera un div por cada resultado de movies(normalmente 10 excepto en la última página)</p>-->
        {% for i in range (numResultados) %}
        <div class="films__searchresult">

                <div class="films__postercontainer"><img class="films__poster" src="{{movies['Search'][i]['Poster']}}"></div>
                <div class="films__information">
                <p class="films__title">{{movies['Search'][i]['Title']}}</p>
                <p class="films__year">{{movies['Search'][i]['Year']}}</p>
                </div>

                <input type="hidden" name="{{ loop.index }}" value="{{movies['Search'][i]['imdbID']}}">
                <!--<p>botón detalle con animación</p>--><!--<p>si sale por aquí va al detalle</p>-->
                <div class="films__div--buttons"> 
                        <button name="ix" value="{{ loop.index }}" type="submit" class="films__detailbutton"><span class="films__detailbutton-span">Detalle</span>
                                <svg class="films__detailbutton-svg" width="13px" height="10px" viewBox="0 0 13 10">
                                  <path d="M1,7 L11,7"></path>
                                  <polyline points="8 4 12 7 8 10"></polyline>
                                </svg></button>
                </div>
        </div>
        {% endfor %}
        <input type="hidden" name="busquedaAnterior" value="{{busqueda}}">
        <input type="hidden" name="pagActual" value="{{pagActual}}">
</div>


</form>
<!--<p>si sale por aquí va a la siguiente página o a la anterior</p>-->
<form action="/films" method="GET">
        <input type="hidden" name="busqueda" value="{{busqueda}}">
        <div class="films__div--buttons">{% if pagActual > 1 %}
        <button name="paginaAnterior" value="{{pagActual}}" type="submit" class="films__button--nextpreview">página Anterior</button>
        {% endif %}
        {% if pagActual < numPags %}
        <button name="paginaSiguiente" value="{{pagActual}}" type="submit" class="films__button--nextpreview">página Siguiente</button>
        {% endif %}</div>
</form>
{% endblock %}
