{% extends 'base.html' %}
{% block title %}Detalle{% endblock %}
{% block clasebody %} class="bodyfilms" {% endblock%}
{% block menu %}
<div class="menufilm">
        <a class = "inicio" href="./">Inicio</a> <p class="film__menu-barra"> | </p>
        <!--<p>si sale por aqui volvemos a films, a la misma página y con la misma búsqueda</p>-->
        <form action="/films" method="GET"><button name="busqueda" value="{{busquedaAnterior}}" type="submit" class="film__enlace--button">Todas</button>
        <input type="hidden" name="pagActual" value="{{pagActual}}">
        <input type="hidden" name="searchType" value="{{searchType}}">
        </form>
        <!--<p>el botón envía el valor de búsqueda y el tipo a buscar</p>-->
</div>
{% endblock %}

{% block body %}
<div class="film__container">
<div class="film__poster--div">
        <img src="{{movieDetail['Poster']}}">
</div>
<div class="film__information">
        <div class="film__infotext">
        <p class="film__information--Title">{{movieDetail['Title']}}</p>
        <p><strong class="film__strong">Género:</strong><br/>
                {{movieDetail['Genre']}}</p>
        <p><strong class="film__strong">Argumento:</strong><br/>
                {{movieDetail['Plot']}}</p>
        <p><strong class="film__strong">Director:</strong><br/>
                {{movieDetail['Director']}}</p>
        <p><strong class="film__strong">Guionista:</strong><br/>
                {{movieDetail['Writer']}}</p>
        <p><strong class="film__strong">Reparto:</strong><br/>
                {{movieDetail['Actors']}}</p>
        </div>
        <div>
        <p class="film__information--Year">{{movieDetail['Year']}}</p>
        </div>
</div>
</div>
{% endblock %}