{% extends 'base.html' %}
{% block title %}Búsqueda{% endblock %}
{% block clasebody %}class="bodyindex" {% endblock%}
{% block body %}

    <div class="index__container">
    <form action="/films" method="GET">
        <div class="index__subcontainer"><input class="index__input" type="text" name="busqueda" id="busqueda" placeholder="Introduzca título"> 
        <div class="index__div--selectbutton"><select class="index__select--button" name="searchType">
                <option selected value="All">Todos los tipos</option> 
                <option value="movie">Películas</option> 
                <option value="series">Series</option>
                <option value="episode">Episodios</option> 
            </select></div>   
        <button name="films" value="Buscar" type="submit" class="index__button">Buscar</button></div>

        {% if error %} <!--<p>si introducimos un campo vacío o una búsqueda sin resultados da un mensaje de error</p>-->
        <p class="error_busqueda"> {{ error }} </p>
        {% endif %}
        <input type="hidden" name="pagActual" value="1"> <!--<p>La primera búsqueda siempre envía valor 1</p>-->
    </form>
   
    </div>

{% endblock %}
{% block clasefooter %} class="footer" {% endblock%}